.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #212121;
    color: #FFFFFF;
    display: flex;
}

.bio {
    flex: 1;
    padding: 0.5em;
    font-size: min(4em, calc((100vw - 19.5vh * 1.25) / 11));
}

.name {
    position: relative;
    writing-mode: vertical-lr;
    font-weight: 300;
    font-size: 19.5vh;
    line-height: 0.8;
    text-decoration: underline #FFB703 solid 0.1em;
    text-underline-offset: 0.1em;
}

