.svg {
    height: 1em;
    width: 1em;
    fill: #FFFFFF;
    transition: all 250ms ease-in-out;
}

.icon {
    display: inline-block;
    padding-block-start: 0.33em;
    padding-inline-end: 0.5em;
}

.icon:hover .svg {
    fill: #FFB703;
    transform: scale(1.1);
}
